body {
    @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #22D4FD;
    --color-hover: #272727;

    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}
.header__menu__link{
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;

}



.presentacion {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px; ;
}

.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: var(--fuente-krona);
}

.titulo-destaque {
    color: var(--color-terciario); ;
}

.presentacion__contenido__texto{
    font-size: 24px;
    font-family: var(--fuente-montserrat);
}

.presentacion__enlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-krona);
    font-weight: 400;
    font-size: 24px;
}
.presentacion__enlaces__link{
      display: flex;
      justify-content: center;
      gap: 16px;
      border: 2px solid var(--color-terciario);
      width: 50%;
      text-align: center;
      border-radius: 8px;
      font-size: 24px;
      font-weight: 600;
      padding: 21.5px 0;
      text-decoration: none;
      color: var(--color-secundario);
      font-family: var(--fuente-montserrat);
}

.presentacion__enlaces__link:hover{
    background-color: var(--color-hover);
}

.presentacion__imagen{
    width: 50%;

}
.footer{
    color:var(--color-primario);
    background-color: var(--color-terciario);
    padding: 24px;
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 400;
}

@media(max-width:1200px ){
    .header{
        padding: 10%;
    }

    .header__menu{
        justify-content: center;
    }
    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion__contenido{
        width: auto;
    }
}
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
}

textarea {
    width: 95%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    position: static;
}

input[type="number"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button_encriptar {
    width: 48%;
    padding: 10px;
    margin: 10px 1%;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.button_desencriptar {
    width: 48%;
    padding: 10px;
    margin: 10px 1%;
    border: none;
    border-radius: 5px;
    background-color: #e96005;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #d6cc6f;
}

#outputText {
    width: 95%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
}
